<div>
  <!-- Navbar -->
  <div>
    <nav>
      <div>
        <a>PokeGuesser</a>
      </div>
    </nav>
  </div>

  <!-- content -->
  <div>
    <h4>Guess that Pokemon!</h4>
    <div>
      <img width="300px" [src]="sprite" />
    </div>
    <input
      [value]="guess"
      #pokeGuess
      pokeGuessField
      class="guess-input"
      (keyup.enter)="decideEnter(poke)"
      (keyup)="onKey($event)"
      type="text"
      autofocus
      cdkTrapFocus
      placeholder="Pikachu"
    />
    <div class="button-group">
      <div>
        <button (click)="fetchPoke()">New</button>
      </div>
      <div>
        <button (click)="guessPoke(poke)">
          {{ guessed ? "Checked" : "Check" }}
        </button>
      </div>
    </div>
  </div>
  <p>
    {{ guessed ? (correct ? "Correct - " + poke : "Incorrect - " + poke) : "" }}
  </p>
</div>
